// Colors
//
// This section demonstrates how to present your color variables using
// styleguide
//
// $color-red - Red test color
// $color-green - Green test color
// $color-blue - Blue test color
//
// Markup:
// <div class="styleguide-color" style="background: {$modifiers};"></div>
//
// Styleguide 1.0

// Test
// xxx

.a { bbb: ccc }
